<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:background="@color/white"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/nlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheAllClasses"
        tools:targetApi="31" >
        <activity
            android:name=".Tests"
            android:exported="false"
            android:label="@string/title_activity_tests"
            android:theme="@style/Theme.TheAllClasses.NoActionBar" />
        <activity
            android:name=".ShowMaterial"
            android:exported="false"
            android:label="@string/title_activity_show_materials"
            android:theme="@style/Theme.TheAllClasses.NoActionBar" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".OfflineMode"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ExploreAndBuy"
            android:exported="false" />
        <activity
            android:name=".PurchaseActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />

        <activity
            android:name=".CustomUiActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Splash_screen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Razorpay Checkout Activity -->
        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TheAllClasses"
            tools:replace="android:configChanges,android:theme" /> <!-- Razorpay Token Receiver -->
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.razorpay.token.receiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>